    #entire-site {
        display: flex;
        flex-direction: column;
        /* background-color: #ffffff; */
        overflow: hidden;
    }
    
    h1,
    h4 {
        font-family: 'Allerta Stencil';
        padding: 2%;
    }
    
    #to-center {
        text-align: center;
        padding: 5%;
    }
    
    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-evenly;
        padding-bottom: 2%;
    }
    
    .about-me-button {
        flex: wrap;
        background-color: #CBF3F0;
        margin: 2%;
    }
    
    .projects-button {
        flex: wrap;
        background-color: #FFBF69;
        margin: 2%;
    }
    
    .contact-me-button {
        flex: wrap;
        background-color: #FFC300;
        color: #001D3D;
        margin: 2%;
    }
    
    #welcome-section {
        flex: auto;
        /* padding-bottom: 50%; */
        font-size: 100%;
        background-color: #2EC4B6;
    }
    
    #welcome-text {
        font-size: 1000%;
        margin-left: 10%;
        padding-bottom: inherit;
    }
    
    #about-me {
        flex: auto;
        /*padding-bottom: 50%;*/
        background-color: #CBF3F0;
    }
    
    #projects {
        flex: auto;
        /* padding-bottom: 50%; */
        background-color: #FFBF69;
    }
    
    #contact-me {
        flex: auto;
        /* padding-bottom: 50%; */
        background-color: #FF9F1C;
    }
    
    #about-me .content {
        display: flex;
    }
    
    #about-me img {
        width: 20em;
        height: 20em;
        margin-left: 5%;
        padding: 1%;
        flex: wrap;
        border: solid;
        border-radius: 20%;
    }
    /* colors:  00814, 001D3D, 003566, FFC300, FFD60A*/